<!DOCTYPE html>
<html 
lang="en"
xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>403</title>
	<link rel="shortcut icon" type="image/icon" href="/front/main/images/favicon-16x16.png" />
	<link rel="stylesheet" href="/front/main/css/style.css">
	<link rel="stylesheet" href="/front/main/css/responsive.css">

</head>

<body>

	<div id="preload-block">
		<div class="square-block"></div>
	</div>
	<div id="page-wrapper">
		<section id="section3" class="section project" style="background:url('/front/main/images/bg.png');">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="section-heading text-center">
							<h2>存在しないページ</h2>
							<p>このページは存在しません。 下記ボタンをクリックでホーム画面に移動できます。</p>
							<button class="error-btn" onclick="location.href='/'">ホーム画面に移動</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="/front/main/js/jquery-2.2.4.min.js"></script>
	<script src="/front/main/js/jquery.easing.min.js"></script>
	<script src="/front/main/js/jquery.fullPage.min.js"></script>
	<script src="/front/main/js/bootstrap.min.js"></script>
	<script src="/front/main/js/owl.carousel.min.js"></script>
	<script src="/front/main/js/validator.js"></script>
	<script src="/front/main/js/ajax-contact.js"></script>
	<script src="/front/main/js/custom.js"></script>

</body>

</html>